@model WEB_KHACHSAN_MVC.Models.LOAIDICHVU

@{
    ViewBag.Title = "DetailsLoaiDichVu";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<h2>DetailsLoaiDichVu</h2>

<div>
    <h4>LOAIDICHVU</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã Loại Dịch Vụ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MALOAIDICHVU)
        </dd>
        <dt>
            Tên Loại Dịch Vụ
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.TENLOAIDICHVU)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditLoaiDichVu", new { maLoaiDichVu = Model.MALOAIDICHVU }) |
    @Html.ActionLink("Back to List", "ListLoaiDichVu")
</p>
