@model WEB_KHACHSAN_MVC.Models.LOAIPHONG

@{
    ViewBag.Title = "DeleteLoaiPhong";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Xóa Loại Phòng</h2>
<div style="width: 14%; margin: 0 auto">
    <hr />
    <dl class="dl-horizontal">
        <dd>
            Tên loại phòng: @Html.DisplayFor(model => model.TENLOAIPHONG)
        </dd>
        <dd>
            Giá Thuê: @Html.DisplayFor(model => model.GIATHUE)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="btn btn-secondary">
                @Html.ActionLink("Back", "ListLoaiPhong")
            </div>
            <input type="submit" value="Delete" class="btn btn-danger" />

        </div>
    }
</div>
