@model WEB_KHACHSAN_MVC.Models.LOAIPHONG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="btn btn-secondary">@Html.ActionLink("Back", "ListLoaiPhong")</div>

<h2 style="text-align:center">Chi Tiết Loại Phòng</h2>

<div style="width: 12%; margin: 0 auto">
    <br />
    <dl class="dl-horizontal">
        <dd>
            Tên Loại Phòng : @Html.DisplayFor(model => model.TENLOAIPHONG)
        </dd>

        <dd>
            Giá Thuê: @Html.DisplayFor(model => model.GIATHUE)
        </dd>
    </dl>
</div>

