@model WEB_KHACHSAN_MVC.Models.PHANQUYEN

@{
    ViewBag.Title = "DeletePhanQuyen";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Xóa Phân Quyền</h2>

<div style="width: 14%; margin: 0 auto">
    <hr />
    <dl class="dl-horizontal">
        <dd>
            Tên Phân Quyền :@Html.DisplayFor(model => model.TENPHANQUYEN)
        </dd>

        <dd>
            Quyền Hạn :@Html.DisplayFor(model => model.QUYENHAN)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="margin-left: 15px">
            <div class="btn btn-secondary">@Html.ActionLink("Back", "ListPhanQuyen")</div>
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
