@model WEB_KHACHSAN_MVC.Models.PHANQUYEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<p class="btn btn-secondary">
    @Html.ActionLink("Back", "ListPhanQuyen")
</p>

<div style="text-align:center">
    <h2>Chi Tiết Phân Quyền</h2>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            Mã Phân Quyền : @Html.DisplayFor(model => model.MAPHANQUYEN)
        </dd>

        <dd>
            Tên Phân Quyền: @Html.DisplayFor(model => model.TENPHANQUYEN)
        </dd>

        <dd>
            Quyền Hạn: @Html.DisplayFor(model => model.QUYENHAN)
        </dd>

    </dl>
</div>

