
@{
    ViewBag.Title = "ThanhToanCocKhongThanhCong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center">ĐẶT PHÒNG KHÔNG THÀNH CÔNG, VUI LÒNG THỰC HIỆN LẠI!<br />LỖI THANH TOÁN TIỀN CỌC!<br />Cảm ơn khách hàng!!!</h2>

<br />
<div style="width: 20%; margin: 0 auto;">
    <a class="btn btn-success" href="@Url.Action("Index", "HomeKhai")">BACK TO HOME PAGE</a>
</div>